.header
  グループを作成しました
.contents
  .left-contents
    .left-contents__top
      saies
    .left-contents__bottom
      .left-contents__bottom__group
        .left-contents__bottom__group__name
          sample-group
        .left-contents__bottom__group__message
          hello!chat-space!
  .right-contents
    .right-contents__top
      sample
    .right-contents__bottom
      sample