%header
  %h3 グループを作成しました
.contents
  .side
    .side__top
      %p saies
    .side__bottom
      .side_bottom__group
        .side__bottom__group
          %a sample-group
        .side__bottom__group__message
          %p hello!chat-space!
  .chat
    .chat__top
      .chat__top__left
        %h4 sample group
        %p  Member:saies
      .chat__top__right
        %h3 edit
    .chat__middle
      .chat__middle
        -time = Time.now
        %h3 saies #{time}
        %p  hello!chat-space!
    .chat__bottom
      %textarea type a message
      %p SEND