!!!
%html
  %body
    %header
    .side
      .top
        %h2 saies
      .bottom
        %h2 group
        %p message
      .chat
        .top
          .left
            %h2 group
            %p member
          .right
            %h3 edit
        .middle
          %p member
          %p message
        .bottom
          %h3 text
