.header{
  position: fixed;
  height: 20px;
  width: 100%;
  background-color: $blue;
  color: $white;
  text-align: center;
  top: 0px;
}

.contents{
  display: flex;
  margin-top: 20px;
  bottom: 0px;
  .chat-side {
    width: 300px;
    color: $white;
    float: left;
      &__side-header{
        background-color: #253141;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        &__box{
          display: flex;
          width: 100%;
          font-weight: bold;
          justify-content: space-between;
          li{
            list-style: none;
          }
        }
      }
      &__bottom{
        background-color: #2f3e51;
        height: calc(100vh - 100px);
        padding: 20px 20px 0;
        overflow: scroll;
          &__group{
            height: 51px;
            margin-bottom: 40px;
            &__name{
              font-size: 15px;
              margin-bottom: 5px;
            }
            
            &__message{
              font-size: 11px;
            }
          }
          
      }
  }
  
  .chat{
    width: calc(100vw - 300px);
    color: $dark-grey;
    float: left;
    &__top{
      height: 100px;
      padding: 0 40px;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
        &__left{
          margin-top: 35px;
          h2 {
            font-size: 20px;
            color: $dark-grey;
            margin-bottom: 15px;
          }
          p {
            font-size: 12px;
            color: #999999;
          }
        }
        &__right{
          color: $blue;
          margin-left: auto;
          p {
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            margin-top: 30px;
            border:solid 1px $blue;
            right: 40px;
          }
        }
    }
    &__messages{
      height: calc(100vh - 262px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      &__message{
        &__info{
          display: flex;
          margin-bottom: 10px;
          &__talker{
            font-size: 16px;
            color: $min-dark-grey;
            font-weight: bold;
          }
          &__date {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }
        
        p {
          font-size: 14px;
          color: $min-dark-grey;
        }
      }
      
    }
    &__form{
      padding: 20px 40px;
      background-color: #ddd;      
      &__box{
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        &__textarea{ 
          background-color: $white;
          width: 100%;
          font-size: 16px;
          color: #434a54;
          display: flex;
          justify-content: space-between;
          overflow: scroll;
          p{
            height: 50px;
            line-height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
          }
          i{
            position: absolute;
            top: 15px;
            right: 125px;
            font-size: 1.3rem;
          }
        }
        
        &__send{
          height: 50px;
          padding:0 30px;
          margin-left: 15px;
          background-color: $blue;
          color: $white;
          text-align: center;
          line-height: 50px;
        }
      }
      
    }
  }
}
